In [6]:
import pandas as pd

In [29]:
df = pd.read_csv('mockup_dataset.csv', sep=';', skipinitialspace=True)

In [30]:
df

,adres_id,wzs_lat,wzs_lon,categorie,aantal_personen,aantal_achternamen,eigenaar,woonfraude
0,1,52.35405,4.91422,airbnb,2,2,stadgenoot,False
1,2,52.37345,4.86126,drugs,1,1,eigen haard,True
2,3,52.38345,4.87126,drugs,1,1,eigen haard,False
3,4,52.36345,4.85126,drugs,1,1,eigen haard,True

In [31]:
df.woonfraude

0    False
1     True
2    False
3     True
Name: woonfraude, dtype: bool

In [32]:
df.adres_id

0    1
1    2
2    3
3    4
Name: adres_id, dtype: int64

In [33]:
df.loc[0]

adres_id                       1
wzs_lat                  52.3541
wzs_lon                  4.91422
categorie                 airbnb
aantal_personen                2
aantal_achternamen             2
eigenaar              stadgenoot
woonfraude                 False
Name: 0, dtype: object

In [34]:
[f'ID: {df.loc[i].adres_id}' for i in range(len(df))]

['ID: 1', 'ID: 2', 'ID: 3', 'ID: 4']

In [35]:
pos = df[df.woonfraude==True]

In [36]:
pos

,adres_id,wzs_lat,wzs_lon,categorie,aantal_personen,aantal_achternamen,eigenaar,woonfraude
1,2,52.37345,4.86126,drugs,1,1,eigen haard,True
3,4,52.36345,4.85126,drugs,1,1,eigen haard,True

In [44]:
def make_hover_string(row):
    return f"ID: {row.adres_id} \n Categorie: {row.categorie}"

pos.apply(make_hover_string, axis=1)

1    ID: 2 \n Categorie: drugs
3    ID: 4 \n Categorie: drugs
dtype: object

In [53]:
df.categorie.unique()

array(['airbnb', 'drugs'], dtype=object)

In [54]:
[{'label': x, 'value': x} for x in df.categorie.unique()]

[{'label': 'airbnb', 'value': 'airbnb'}, {'label': 'drugs', 'value': 'drugs'}]

In [55]:
df.categorie.unique()

array(['airbnb', 'drugs'], dtype=object)

In [64]:
selected_categories = df.categorie.unique()

In [65]:
selected_categories

array(['airbnb', 'drugs'], dtype=object)

In [58]:
df.columns

Index(['adres_id', 'wzs_lat', 'wzs_lon', 'categorie', 'aantal_personen',
       'aantal_achternamen', 'eigenaar', 'woonfraude'],
      dtype='object')

In [69]:
df_sel = df[df.categorie.isin(selected_categories)]

In [70]:
df_sel

,adres_id,wzs_lat,wzs_lon,categorie,aantal_personen,aantal_achternamen,eigenaar,woonfraude
0,1,52.35405,4.91422,airbnb,2,2,stadgenoot,False
1,2,52.37345,4.86126,drugs,1,1,eigen haard,True
2,3,52.38345,4.87126,drugs,1,1,eigen haard,False
3,4,52.36345,4.85126,drugs,1,1,eigen haard,True

In [72]:
df.loc[[0,1]]

,adres_id,wzs_lat,wzs_lon,categorie,aantal_personen,aantal_achternamen,eigenaar,woonfraude
0,1,52.35405,4.91422,airbnb,2,2,stadgenoot,False
1,2,52.37345,4.86126,drugs,1,1,eigen haard,True

In [76]:
df.index.tolist()

[0, 1, 2, 3]