In [1]:
import pandas as pd

In [2]:
df_proactief = pd.read_csv('mockup_dataset_proactief.csv', sep=';', skipinitialspace=True)

In [3]:
df_proactief.columns

Index(['adres_id', 'wzs_lat', 'wzs_lon', 'stadsdeel', 'categorie', 'sttnaam',
       'hsnr', 'toev', 'hsltr', 'aantal_personen', 'aantal_achternamen',
       'eigenaar', 'woonfraude', 'fraude_kans', 'aantal_meldingen',
       'is_hotline', 'm2_per_persoon', 'gebruikersdoel', 'aantal_volwassenen',
       'profiel'],
      dtype='object')

In [5]:
marks={i: f"{i}" for i in range(0, max(df_proactief.aantal_meldingen))}
marks

{0: '0', 1: '1', 2: '2', 3: '3'}

In [7]:
[{'label': x, 'value': x} for x in sorted(df_proactief.is_hotline.unique())]

[{'label': False, 'value': False}, {'label': True, 'value': True}]

In [9]:
[{'label': x, 'value': x} for x in sorted(df_proactief.stadsdeel.unique())]

[{'label': 'Centrum', 'value': 'Centrum'},
 {'label': 'Centrum Oost', 'value': 'Centrum Oost'},
 {'label': 'Oost', 'value': 'Oost'}]

In [8]:
sorted(df_proactief.stadsdeel.unique())

['Centrum', 'Centrum Oost', 'Oost']

In [11]:
min(df_proactief.m2_per_persoon)

13

In [12]:
{i: f"{i}" for i in range(min(df_proactief.m2_per_persoon), max(df_proactief.m2_per_persoon)+1)}

{13: '13',
 14: '14',
 15: '15',
 16: '16',
 17: '17',
 18: '18',
 19: '19',
 20: '20',
 21: '21',
 22: '22',
 23: '23',
 24: '24',
 25: '25',
 26: '26',
 27: '27',
 28: '28',
 29: '29',
 30: '30',
 31: '31',
 32: '32',
 33: '33',
 34: '34',
 35: '35',
 36: '36',
 37: '37',
 38: '38',
 39: '39',
 40: '40',
 41: '41',
 42: '42',
 43: '43',
 44: '44',
 45: '45',
 46: '46',
 47: '47',
 48: '48',
 49: '49',
 50: '50',
 51: '51',
 52: '52'}

In [2]:
df = pd.read_csv('mockup_dataset.csv', sep=';', skipinitialspace=True)

In [4]:
df

,adres_id,wzs_lat,wzs_lon,stadsdeel,categorie,aantal_personen,aantal_achternamen,eigenaar,woonfraude,float_test
0,1,52.354050,4.914220,B,airbnb,2,2,stadgenoot,False,0.112300
1,2,52.373450,4.861260,A,drugs,1,1,eigen haard,True,0.643200
2,3,52.383450,4.871260,A,banana hoarding,1,1,eigen haard,False,0.313241
3,4,52.363450,4.851260,A,drugs,1,1,eigen haard,True,0.843210
4,5,52.363459,4.893454,B,neuzen,1,1,de key,True,0.986400

In [31]:
df.woonfraude

0    False
1     True
2    False
3     True
Name: woonfraude, dtype: bool

In [32]:
df.adres_id

0    1
1    2
2    3
3    4
Name: adres_id, dtype: int64

In [33]:
df.loc[0]

adres_id                       1
wzs_lat                  52.3541
wzs_lon                  4.91422
categorie                 airbnb
aantal_personen                2
aantal_achternamen             2
eigenaar              stadgenoot
woonfraude                 False
Name: 0, dtype: object

In [34]:
[f'ID: {df.loc[i].adres_id}' for i in range(len(df))]

['ID: 1', 'ID: 2', 'ID: 3', 'ID: 4']

In [35]:
pos = df[df.woonfraude==True]

In [36]:
pos

,adres_id,wzs_lat,wzs_lon,categorie,aantal_personen,aantal_achternamen,eigenaar,woonfraude
1,2,52.37345,4.86126,drugs,1,1,eigen haard,True
3,4,52.36345,4.85126,drugs,1,1,eigen haard,True

In [44]:
def make_hover_string(row):
    return f"ID: {row.adres_id} \n Categorie: {row.categorie}"

pos.apply(make_hover_string, axis=1)

1    ID: 2 \n Categorie: drugs
3    ID: 4 \n Categorie: drugs
dtype: object

In [53]:
df.categorie.unique()

array(['airbnb', 'drugs'], dtype=object)

In [54]:
[{'label': x, 'value': x} for x in df.categorie.unique()]

[{'label': 'airbnb', 'value': 'airbnb'}, {'label': 'drugs', 'value': 'drugs'}]

In [55]:
df.categorie.unique()

array(['airbnb', 'drugs'], dtype=object)

In [64]:
selected_categories = df.categorie.unique()

In [65]:
selected_categories

array(['airbnb', 'drugs'], dtype=object)

In [58]:
df.columns

Index(['adres_id', 'wzs_lat', 'wzs_lon', 'categorie', 'aantal_personen',
       'aantal_achternamen', 'eigenaar', 'woonfraude'],
      dtype='object')

In [69]:
df_sel = df[df.categorie.isin(selected_categories)]

In [70]:
df_sel

,adres_id,wzs_lat,wzs_lon,categorie,aantal_personen,aantal_achternamen,eigenaar,woonfraude
0,1,52.35405,4.91422,airbnb,2,2,stadgenoot,False
1,2,52.37345,4.86126,drugs,1,1,eigen haard,True
2,3,52.38345,4.87126,drugs,1,1,eigen haard,False
3,4,52.36345,4.85126,drugs,1,1,eigen haard,True

In [72]:
df.loc[[0,1]]

,adres_id,wzs_lat,wzs_lon,categorie,aantal_personen,aantal_achternamen,eigenaar,woonfraude
0,1,52.35405,4.91422,airbnb,2,2,stadgenoot,False
1,2,52.37345,4.86126,drugs,1,1,eigen haard,True

In [76]:
df.index.tolist()

[0, 1, 2, 3]

In [26]:
sorted(df.stadsdeel.unique())

['A', 'B']

In [28]:
sorted(df.categorie.unique())

['airbnb', 'banana hoarding', 'drugs', 'neuzen']

In [45]:
df.stadsdeel.value_counts()

B    5
A    3
Name: stadsdeel, dtype: int64

In [48]:
value_counts = df.stadsdeel.value_counts().sort_index()

In [49]:
value_counts.index

Index(['A', 'B'], dtype='object')

In [37]:
value_counts.values

array([3, 2])

In [38]:
df.categorie.value_counts()

drugs              2
banana hoarding    1
neuzen             1
airbnb             1
Name: categorie, dtype: int64

In [50]:
df

,adres_id,wzs_lat,wzs_lon,stadsdeel,categorie,aantal_personen,aantal_achternamen,eigenaar,woonfraude,float_test
0,1,52.354050,4.914220,B,airbnb,2,2,stadgenoot,False,0.112300
1,2,52.373450,4.861260,A,drugs,1,1,eigen haard,True,0.643200
2,3,52.383450,4.871260,A,banana hoarding,1,1,eigen haard,False,0.313241
3,4,52.363450,4.851260,A,drugs,1,1,eigen haard,True,0.843210
4,5,52.363459,4.893454,B,neuzen,1,1,de key,True,0.986400
5,6,52.363459,4.893454,B,hjsdgfkljsdf,1,1,de key,True,0.986400
6,7,52.363459,4.893454,B,fsdfasdfa,1,1,de key,True,0.986400
7,8,52.363459,4.893454,B,gsdfgsgdzb,1,1,de key,True,0.986400

In [3]:
df.stadsdeel.value_counts()

A    3
B    2
C    1
D    1
E    1
Name: stadsdeel, dtype: int64

In [4]:
df.categorie.value_counts()

drugs              2
airbnb             1
bruinkool mijn     1
parkietenplaag     1
banana hoarding    1
neuzen             1
sinaasappels       1
Name: categorie, dtype: int64