In [1]:
import os, sys

# Add personal codebase to path, allowing to import own modules.
sys.path.insert(1, os.path.join(sys.path[1], "../codebase"))

# Fallback option in case above import does not work.
# sys.path.insert(1, "E:\\woonfraude\\Thomas\\codebase")

# Import own module
import clean_bwv

In [2]:
adres, zaken, stadia = clean_bwv.load_dfs(3)

In [3]:
adres.head()

,adres_id,straatcode,postcode,sdl_code,brt_code,pvh_cd,pvh_omschr,sbw_omschr,sbv_omschr,wzs_lon,...,wzs_22gebiedennaam_2015,xref,yref,sbv_code,hvv_dag_tek,max_vestig_dtm,inwnrs,kmrs,wzs_id,wzs_update_datumtijd
0,69946.0,8044.0,1058cd,e,b,01,huis,bedrijfspand,"geen bijzonderheden, nvt",NaN,...,None,118554.0,486272.0,99.0,NaT,NaT,NaN,0.0,63063587,2018-11-07 13:06:55.241292
1,17203.0,2232.0,1075xv,k,b,82,geheel perceel,bedrijfspand,"geen bijzonderheden, nvt",NaN,...,None,118880.0,484680.0,99.0,NaT,NaT,NaN,0.0,63069018,2018-11-07 13:06:55.241292
2,91399.0,10804.0,1055aa,e,0,21,2 hoog,huurwoning,"geen bijzonderheden, nvt",NaN,...,None,NaN,NaN,99.0,NaT,NaT,NaN,4.0,63075173,2018-11-07 13:06:55.241292
3,8068.0,1457.0,1057ge,e,g,01,huis,bedrijfspand,"geen bijzonderheden, nvt",NaN,...,None,118949.0,486856.0,99.0,NaT,NaT,NaN,0.0,63082268,2018-11-07 13:06:55.241292
4,2035817.0,69775.0,1102bl,z,9,None,None,huurwoning,None,NaN,...,None,NaN,NaN,NaN,2018-11-01 23:00:00,NaT,NaN,1.0,63082740,2018-11-07 13:06:55.241292