In [2]:
import os, sys
from sklearn.pipeline import Pipeline
from pathlib import Path

# Add local codebase to path
home = str(Path.home())
sys.path.insert(1, f'{home}/Documents/woonfraude/codebase')

# Import own modules
from datasets_oo import *
from clean_oo import *
from extract_features_oo import *

/home/tjongstra/.local/lib/python3.6/site-packages/psycopg2/__init__.py:144: UserWarning: The psycopg2 wheel package will be renamed from release 2.8; in order to keep installing from binary please use "pip install psycopg2-binary" instead. For details see: <http://initd.org/psycopg/docs/install.html#binary-install-from-pypi>.
  """)

In [3]:
# Initialize dataset objects
adresDataset = AdresDataset()
zakenDataset = ZakenDataset()
stadiaDataset = StadiaDataset()
personenDataset = PersonenDataset()
bagDataset = BagDataset()
hotlineDataset = HotlineDataset()

# Load datasets from cache (if download and processing steps have already been done).
adresDataset.load('download_leegstand_woningId')
zakenDataset.load('download_categories_filterCategories')
stadiaDataset.load('download_ids_labels')
personenDataset.load('download')
bagDataset.load('download_columnFix')
hotlineDataset.load('download')

Version 'download_leegstand_woningId' of dataset 'adres' loaded!
Version 'download_categories_filterCategories' of dataset 'zaken' loaded!
Version 'download_ids_labels' of dataset 'stadia' loaded!
Version 'download' of dataset 'personen' loaded!
Version 'download_columnFix' of dataset 'bag' loaded!
Version 'download' of dataset 'hotline' loaded!

In [4]:
# Check sample of zaken data.
zakenDataset.data.head()

,adres_id,wvs_nr,begindatum,einddatum,beh_code,beh_oms,afg_code_beh,afs_code,afs_oms,afg_code_afs,kamer_aantal,nuttig_woonoppervlak,vloeroppervlak_totaal,bedrag_huur,eigenaar,wzs_id,zaak_id,wzs_update_datumtijd,mededelingen,categorie
12,147394.0,4.0,2011-10-12,2014-06-24,hsbbpart,bestuurlijke boete part,hanzlt,povvheind,op verzoek van handhaving beeindigd,vtbd,1.0,29.0,33.0,224.0,particulier,118805458,147394_4,2019-04-04 14:06:31.815258+00:00,"jnk(20-jun-14): uitspraak rvst: zaak gewonnen,...",buurtprojecten
15,308078.0,1.0,2011-10-25,2011-11-22,zkl_0064,zoekl.project b64,hanzlt,zzl_eind,zoeklicht beeindigd,hanzlt,2.0,30.0,38.0,247.0,woonstichting de key,118805483,308078_1,2019-04-04 14:06:31.815258+00:00,None,buurtprojecten
16,264274.0,3.0,2011-10-25,2011-11-25,zkl_0064,zoekl.project b64,hanzlt,zzl_eind,zoeklicht beeindigd,hanzlt,2.0,42.0,46.0,363.0,woonstichting de key,118805484,264274_3,2019-04-04 14:06:31.815258+00:00,None,buurtprojecten
17,238092.0,1.0,2011-10-25,2016-12-31,zkl_0064,zoekl.project b64,hanzlt,bulk_afs,bulkafsluiting,vtbd,3.0,60.0,0.0,473.0,woonstichting de key,118805485,238092_1,2019-04-04 14:06:31.815258+00:00,None,buurtprojecten
25,286503.0,2.0,2011-11-14,2011-12-14,h_pgl,project green light,hanzlt,pvkoop,woning is verkocht,vtbd,2.0,34.0,0.0,276.0,particulier,118805565,286503_2,2019-04-04 14:06:31.815258+00:00,None,prostitutie

In [5]:
# View zaken columns.
zakenDataset.data.columns

Index(['adres_id', 'wvs_nr', 'begindatum', 'einddatum', 'beh_code', 'beh_oms',
       'afg_code_beh', 'afs_code', 'afs_oms', 'afg_code_afs', 'kamer_aantal',
       'nuttig_woonoppervlak', 'vloeroppervlak_totaal', 'bedrag_huur',
       'eigenaar', 'wzs_id', 'zaak_id', 'wzs_update_datumtijd', 'mededelingen',
       'categorie'],
      dtype='object')

In [6]:
# Check sample of stadia data.
stadiaDataset.data.head()

,adres_id,wvs_nr,sta_nr,afg_co,sta_code,sta_oms,afg_code_stad,afs_code,afs_oms,afg_code_afs,...,peildatum,einddatum,date_created,date_modified,wzs_id,stadia_id,wzs_update_datumtijd,zaak_id,stadium_id,label
0,63638.0,3.0,1.0,han,he_aansch,eig. aanschrijving,hanzlt,h_gnresult,geen resultaat,hanzlt,...,NaN,NaN,NaN,NaN,247312031,63638_3_1,2019-04-04 13:08:02.011138,63638_3,63638_3_1,misschien
1,226591.0,1.0,1.0,vtbd,vadmin,zl administratie,vtbd,v99zta,afgesloten zonder terugkoppeling,vtbd,...,NaN,NaN,NaN,NaN,247312506,226591_1_1,2019-04-04 13:08:02.011138,226591_1,226591_1_1,misschien
2,135411.0,4.0,1.0,vtpart,vhsb,huisbewaring,vtbd,veinde,beeindigd,vtbd,...,NaN,NaN,NaN,NaN,247312606,135411_4_1,2019-04-04 13:08:02.011138,135411_4,135411_4_1,misschien
3,330623.0,2.0,1.0,vtbd,vvdr,aanvraag huisvestingsvergunning,vtbd,vtoek,toegekend,vtbd,...,NaN,NaN,NaN,NaN,247312607,330623_2_1,2019-04-04 13:08:02.011138,330623_2,330623_2_1,misschien
4,74956.0,1.0,1.0,han,h_nnh,han naar niet handhaven,hanzlt,None,None,None,...,NaN,NaN,NaN,NaN,247312706,74956_1_1,2019-04-04 13:08:02.011138,74956_1,74956_1_1,nee

In [7]:
# View stadia columns.
stadiaDataset.data.columns

Index(['adres_id', 'wvs_nr', 'sta_nr', 'afg_co', 'sta_code', 'sta_oms',
       'afg_code_stad', 'afs_code', 'afs_oms', 'afg_code_afs', 'resultaat',
       'mdr_code', 'user_created', 'user_modified', 'begindatum', 'peildatum',
       'einddatum', 'date_created', 'date_modified', 'wzs_id', 'stadia_id',
       'wzs_update_datumtijd', 'zaak_id', 'stadium_id', 'label'],
      dtype='object')

In [8]:
# Selectie van zaken welke via ICTU/LAA zijn binnengekomen.
ICTU = zakenDataset.data[zakenDataset.data.beh_oms.str.contains('laa', case=False, regex=False)]

In [9]:
# Zoek de bijbehorende stadia voor elke zaak in de ICTU lijst.
ICTU_zaak_ids = ICTU.zaak_id
ICTU_zaak_id_regex = '|'.join(ICTU_zaak_ids)
ICTU_stadia = stadiaDataset.data[stadiaDataset.data.zaak_id.str.match(ICTU_zaak_id_regex)]

In [21]:
# Sanity check.
print(len(ICTU_zaak_ids))
print(len(ICTU_stadia.zaak_id.unique()))
check = len(ICTU_zaak_ids) == len(ICTU_stadia.zaak_id.unique())
print(f"Is het aantal ICTU zaak id's gelijk? (zou zo moeten zijn!): {check}")

2300
2300
Is het aantal ICTU zaak id's gelijk? (zou zo moeten zijn!): True

In [31]:
# Check of ik de stadia kan vinden die een indicatie zijn van meldingen uit de ICTU lijst.
# Dus: meldingen met alleen de sta_code's: H_GERVP_BI, H_GVP_CORP en H_JUR_PROC.
# Op dit moment lijken deze codes niet voor te komen.

# TODO: met Saban checken waarom dit het geval is.
# --> antwoord: Het zijn nieuwe codes die pas vanaf de week van 26 augustus worden ingevoerd in de database.
#               De ICT lijst is dus pas vanaf dit moment reconstrueren.
#
# Oplossing nu: andere sta_code's model laten staan voor H_GERVP_BI, H_GVP_CORP en H_JUR_PROC :)
# Namelijk: h_bd, h_ovd_vtbd en h_bdovhan.

groups = ICTU_stadia.groupby('zaak_id')

In [65]:
# Deze groep willen we in elk geval terug vinden in onze ICTU_list!
groups.get_group('115892_1')

,adres_id,wvs_nr,sta_nr,afg_co,sta_code,sta_oms,afg_code_stad,afs_code,afs_oms,afg_code_afs,...,peildatum,einddatum,date_created,date_modified,wzs_id,stadia_id,wzs_update_datumtijd,zaak_id,stadium_id,label
9427,115892.0,1.0,2.0,hanzlt,h_bdovhan,bd naar han,hanzlt,h_gr_go,gr geen onderzoek,hanzlt,...,NaN,NaN,NaN,NaN,247317377,115892_1_2,2019-04-04 13:08:02.011138,115892_1,115892_1_2,nee
42654,115892.0,1.0,1.0,hanzlt,h_bd,onderzoek buitendienst,hanzlt,None,None,None,...,NaN,NaN,NaN,NaN,247351044,115892_1_1,2019-04-04 13:08:02.011138,115892_1,115892_1_1,misschien
156466,115892.0,1.0,3.0,hanzlt,h_ovd_vtbd,han overdracht naar vtbd,hanzlt,None,None,None,...,NaN,NaN,NaN,NaN,247466448,115892_1_3,2019-04-04 13:08:02.011138,115892_1,115892_1_3,nee

In [63]:
# Construeer de ICTU list, door te kijken of de 3 codes voorkomen,
# en of er exact 3 codes zijn (wellicht een check ten overvloede, maar better safe than sorry).
ICTU_list = []
for zaak_id, group in groups:
    sta_codes = group.sta_code
    ICTU_codes_found = (set(sta_codes) == {'h_bd', 'h_ovd_vtbd', 'h_bdovhan'})
    ICTU_length_satisfied = len(sta_codes)
    if ICTU_codes_found and ICTU_length_satisfied:
        ICTU_list.append(zaak_id)

In [64]:
ICTU_list

['115892_1',
 '118991_2',
 '137077_4',
 '141167_2',
 '159755_1',
 '175986_5',
 '1808468_1',
 '1826586_3',
 '1841790_2',
 '189318_3',
 '1937260_1',
 '1954593_1',
 '1957627_1',
 '20261_2',
 '225302_1',
 '24381_1',
 '243895_1',
 '314185_4',
 '341763_2',
 '346939_1',
 '360639_2',
 '367038_1',
 '370635_1',
 '400113_3',
 '46250_2',
 '65870_3',
 '83494_4']

In [ ]:
# # Zoek de bijbehorende stadia voor elke zaak in de ICTU lijst.
# ICTU_zaak_ids = ICTU.zaak_id

# # Find a list of stadia for each ICTU zaak id.
# ICTU_zaken = {}
# for x in ICTU_zaak_ids:
#     ICTU_zaken[x] = stadiaDataset.data[stadiaDataset.data.zaak_id == x]